<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script src='vue/vue.js'>
  </script>

</head>

<body>
  <div id="app">
    <section>
      <div class="screen">
        <div class="grid">
          <div class="device"  v-for="(dev, idx) in devices" :key="idx">
            <p class="header">{{dev.name}}</p>
            <div class="device-values-grid">
              <label v-bind:class="sens.status=='3'?'good':'bad'" class="sensor" v-for="(sens, idx) in dev.sensors">
              {{sens.lastvalue}}</label>
            </div>
          </div>
          <!--
          <div class="device bad">
            <p class="header">ЛАЗ UPS R27</p>
            <div class="device-values-grid">
              <p class="p">In: 220 V</p>
              <p>Out: 220 V</p>
              <p>In: 50 F</p>
              <p>Out: 50 F</p>
            </div>
          </div>

          <div class="device good">
            <p class="header">ЛАЗ APC UPS</p>
            <p>От сети</p>
            <div class="device-values-grid">
              <p>In: 220 V</p>
              <p>Out: 220 V</p>
              <p>In: 50 F</p>
              <p>Out: 50 F</p>
            </div>
          </div>

          <div class="device bad">
            <p class="header">ЛАЗ APC UPS</p>
            <p>От батареи</p>
            <div class="device-values-grid">
              <p>In: 220 V</p>
              <p>Out: 220 V</p>
              <p>In: 50 F</p>
              <p>Out: 50 F</p>
            </div>
          </div>
        </div>
      </div-->
    </section>
  </div>
</body>
<script src="/main.js">
</script>

</html>